---
---

// Font.
$font: (
  primary: ("Roboto", sans-serif),
  secondary: ("PT Serif", serif)
);

// Palette.
$palette: (
  primary:       #243067,
  secondary:     darken(#243067, 15%),
  meta:          lighten(#243067, 25%),
  border:        lighten(#243067, 52%),
  bg:            lighten(#243067, 58%),
  accent:        #3cb464,
  accent-blue:   #108afb,
  accent-black:  #333b45,
  accent-red:    #f8646c
);

@import "imports/functions";
@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
@import "imports/intro";
@import "imports/subscribe";
@import "imports/footer";
@import "imports/palettes";

